<h1><%= @patient.name %></h1>

<ul>
  <li>Name: <%= @patient.name %></li>
  <li>Age: <%= @patient.age %></li>

</ul>

<h4>Appointments</h4>

<ul>
  <% @patient.appointments.each do |appointment| %>
    <li>
      <%= appointment.appointment_datetime %>
      <%= link_to appointment.doctor.name, doctor_path %>
    </li>
  <% end %>
</ul>
